#dashboard {
    margin: 3em;
    color: #444444;
}

#transaction-list {
    margin-top: 80px;
}

/*.customer-name {*/
    /*border-right: 2px solid rgba(0, 0, 0);*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*transform: translateY(-50%);*/
/*}*/

/*.animation-typewriter {*/
    /*animation: typewriter 1s steps(8) 1s 1 normal both,*/
    /*blinkTextCursor 800ms steps(8) normal;*/
/*}*/

/*@keyframes typewriter {*/
    /*from {*/
        /*width: 0;*/
    /*}*/
    /*to {*/
        /*width: 4em;*/
    /*}*/
/*}*/

/*@keyframes blinkTextCursor {*/
    /*from {*/
        /*border-right-color: rgba(0, 0, 0);*/
    /*}*/
    /*to {*/
        /*border-right-color: transparent;*/
    /*}*/
/*}*/
