.form-container {
    background-color: #FFFFFF;
    padding: 1em 2em 2em;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

#amount, #submit, #description, #payee-wallet, #check-button {
    outline: none;
    margin: 1em;
    font-size: 13px;
    border-radius: 4px;
    color: #444444;
    padding: 12px 10px;
    -webkit-transition: 0.5s;
}

#payee-wallet {
    border: 1px solid #ccc;
    width: 50%;

}

#payee-wallet-div {
    display: flex;
    flex-direction: row;
}

#description {
    resize: none;
    border: 1px solid #ccc;
}

#amount {
    border: 1px solid #ccc;
}

#amount:focus, #description:focus {
    border: 1px solid #0fb9b1;
}

.modal-head, .modal-body {
    background-color: #0fb9b1;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.cannot-submit {
    background-color: #cccccc;
    pointer-events: none;
}

.can-submit {
    background-color: #F4521E;
    border: 1px solid #F4521E;
}

#submit {
    -webkit-transition: 0.2s;
    width: 20%;
    color: #FFFFFF;
}

#submit:hover {
    cursor: pointer;
}

.cannot-fill-form {
    pointer-events:none;
    background-color: #F5F5F5;
}

#check-button {
    background-color: #F4521E;
    color: #FFFFFF;
    border: 1px solid #F4521E;
}
