#last-five-transactions, th, tr, td {
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    padding: 1em;
}

#last-five-transactions {
    width: 90%;
    margin: 3em;
    text-align: center;
}

th {
    background-color: #22a6b3;
    color: #FFFFFF;
}

tr:hover {
    background-color: #7ed6df;
}

td {
    color: #555555;
}
