header {
    background-color: #22a6b3;
}
ul {
    background-color: #22a6b3;
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.link {
    text-decoration: none;
    color: #FFFFFF;
}
