#login-section {
    background-color: #0fb9b1;
    height: 100vh;
    padding-top: 100px;
    text-align: center;
}

#login-title {
    background-color: #FFFFFF;
    width: 30%;
    padding: 10px;
    margin: auto;
    color: #555555;
}

#login-title {
    margin-bottom: 10px;
}

#login-box {
    margin: auto;
    width: 30%;
    background-color: #FFFFFF;
    padding: 10px;
    text-align: center;
}

#logo {
    width: 100px;
    height: 100px;
}

#username, #password, #login-button {
    outline: none;
    margin: 1em;
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid #777777;
    padding: 12px 10px;
    -webkit-transition: 0.5s;
}

#login-button {
    background-color: #2980b6;
    border: 1px solid #2980b6;
    color: #FFFFFF;
}

#username:focus, #password:focus {
    border: 1px solid #0fb9b1;
}
