.body {
    padding: 3em;
    color: #444444;
}

.filter-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
}

#filter-button {
    background-color: #F4521E;
    outline: none;
    font-size: 13px;
    border-radius: 4px;
    color: #FFFFFF;
    width: 100px;
    height: 50px;
    margin-right: 10px;
}

#amountInput, #descriptionInput{
    outline: none;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #444444;
    padding: 12px 10px;
    -webkit-transition: 0.5s;
    width: 50%;
    height: 25px;
}

#amountInput {
    margin-left: -15px;
    margin-right: 10px;
}

#descriptionInput {
    margin-right: 10px;
}
